<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>heyHardik</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <section class="wrapper">
        <div class="navbar">
            <img src="{{ url_for('static', filename='assets/logo_vector.png') }}" alt="Logo">
            <div class="search-container">
                <input type="text" id="search-box" class="search-box" placeholder="Search or jump to...">
                <span id="slash-icon" class="slash-icon">/</span>
            </div>
        </div>
    </section>
    <main class="mobile-view">
        <div class="wrap">
            <h1>Uh-Oh! Smaller screen detected</h1>
            <canvas width="560" height="312"></canvas>
            <p>You’re in the middle of nowhere. This website runs on only tablets and desktops</p>
            <p>What you can do:</p>
            <ul>
                <li>Switch to bigger screen</li>
                <li><a href="mailto:pythonicforge@gmail.com">Contact</a> to me if you believe this happened in error</li>
            </ul>
        </div>
    </main>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>
