<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>heyHardik</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="loader">
        <h1 class="counter">0%</h1>
        <div class="site-teaser">
            <span>Hello. नमस्ते. Hola. こんにちは. Bonjour.  </span>
        </div>
        <div class="circles">
            <div class="circle circle-outer"></div>
            <div class="circle circle-inner"></div>
            <div class="circle-inner-rotator"></div>
            <div class="block"></div>
        </div>
    </div>

    <div class="container">
        <h1>Hey there.</h1>
    </div>

    <main class="mobile-view">
        <div class="wrap">
            <h1>Uh-Oh! Smaller screen detected</h1>
            <canvas width="560" height="312"></canvas>
            <p>You’re in the middle of nowhere. This website runs on only tablets and desktops</p>
            <p>What you can do:</p>
            <ul>
                <li>Switch to a bigger screen</li>
                <li><a href="mailto:pythonicforge@gmail.com">Contact me</a> if you believe this happened in error</li>
            </ul>
        </div>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>
