@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --backrgound-color: #000;
    --text-color: #fff;
    --primary-color: #007bff;
    --circle-outline: #505050;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body,
html {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: var(--backrgound-color);
    color: var(--text-color);
}

.loader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--backrgound-color);
    user-select: none;
}

.counter {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: var(--circle-outline);
    padding: 2rem 4rem;
    font-size: 10vw;
    font-weight: 200;
    font-style: italic;
}

.site-teaser span {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2rem 4rem;
    color: var(--circle-outline);
    font-size: 1rem;
    font-weight: 500;
    font-style: italic;
}

.circles {
    position: absolute;
    left: 5rem;
    bottom: 5rem;
    width: 400px;
    height: 400px;
    border-radius: 100%;
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    border: 2px solid var(--circle-outline);
    border-radius: 100%;
}

.circle-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
}

.circle-inner-rotator {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scale(0);
    width: 162.5px;
    height: 162.5px;
    background: none;
    border: 2px solid var(--circle-outline);
    border-radius: 100%;
}

.block {
    position: absolute;
    top: -100px;
    left: 200px;
    width: 0px;
    height: 0px;
    display: none;
    background: none;
    border: 2px solid var(--circle-outline);
    transform-origin: bottom;
}

.section-gap {
    margin: 1rem 1.5rem;
}

.container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--text-color);
    color: var(--backrgound-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.error-popup {
    position: absolute;
    top: -50px; /* Start position hidden above the top */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 0, 0, 0.8); /* Semi-transparent red background */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, top 0.5s ease-in-out; /* Transition for opacity and position */
}

.error-popup.visible {
    opacity: 1;
    top: 20px; /* Position it just below the top edge */
}

.Logo {
    width: fit-content;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    user-select: none;
}

.Logo img {
    width: auto;
    height: 40px;
}

.Logo>.name {
    padding: 0 0 0 0.6rem;
}

.Logo>.name>h1 {
    font-weight: 200;
    font-style: italic;
    line-height: 1;
}

.Logo>.name>.first-name {
    font-size: 1rem;
}

.Logo>.name>.last-name {
    font-size: 1.4rem;
}

.socials {
    height: fit-content;
}

.socials a {
    text-decoration: none;
    line-height: 1;
    padding-left: 15px;
}

.socials>.social>img {
    width: 25px;
    height: auto;
}

.footer{
    position: fixed;
    height: 60px;
    left: 0;
    bottom: 0;
    width: 100%;
    border: 1px solid var(--circle-outline);
    color: var(--circle-outline);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.footer > #instructions.hidden{
    display: none;
}

#listening-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
}

#listening-indicator.hidden {
    display: none;
}

.bar {
    width: 5px;
    border-radius: 5px;
    height: 20px;
    margin: 0 3px;
    background-color: var(--circle-outline);
}

.bar:nth-child(1) {
    animation: bounce 0.7s 0.6s infinite;
}

.bar:nth-child(2) {
    animation: bounce 0.7s 0.3s infinite;
}

.bar:nth-child(3) {
    animation: bounce 0.7s infinite;
}

.bar:nth-child(4) {
    animation: bounce 0.7s 0.3s infinite;
}

.bar:nth-child(5) {
    animation: bounce 0.7s 0.6s infinite;
}

@keyframes bounce {
    0%{
        height: 20px;
    }
    50% {
        height: 10px;
    }
    100% {
        height: 20px;
    }
}

.subtitle {
    position: absolute;
    bottom: 0px; /* Start position hidden below the footer */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, bottom 0.5s ease-in-out; /* Transition for opacity and position */
}

.subtitle.visible {
    opacity: 1;
    bottom: 70px; /* Position it just above the footer */
}

.mobile-view {
    height: 100vh;
    width: 100%;
    background-color: var(--text-color);
    color: var(--backrgound-color);
}

canvas {
    display: block;
    margin: 1.5 auto 1.5em auto;
    width: 100%;
    height: auto;
    -webkit-tap-highlight-color: transparent;
}

.wrap {
    margin: auto;
    padding: 1.5em;
    max-width: 37.5em;
}

.mobile-view a.contact {
    color: var(--primary-color);
    text-decoration: none;
}

.mobile-view h1 {
    font-size: 1.4em;
    line-height: 1.5;
    margin-bottom: .75em;
    font-weight: 400;
}

.mobile-view p,
ul {
    margin: 1.5em 0 0 0;
}

.mobile-view ul {
    margin-left: 1.5em;
}

@media (min-width: 768px) {
    .loader {
        display: block;
    }

    .container {
        display: block;
    }

    .mobile-view {
        display: none;
    }
}

@media (max-width: 767px) {
    .loader {
        display: none;
    }

    .container {
        display: none;
    }

    .mobile-view {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}